<section class="character-list-wrapper">
  <div *ngIf="heroes" class="chips-wrapper" style="margin-right: 2rem">
    <mat-chip-listbox class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip data-testid="hero-chip" *ngFor="let hero of heroes">
        {{ hero.firstName }} {{ hero.lastName }} of {{ hero.house }}
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div *ngIf="villains" class="chips-wrapper">
    <mat-chip-listbox class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip data-testid="villain-chip" *ngFor="let villain of villains">
        {{ villain.firstName }} {{ villain.lastName }} of {{ villain.house }}
      </mat-chip>
    </mat-chip-listbox>
  </div>
</section>
