<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Mobile Number"
            formControlName="mobileNumber"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Register</button>
      </div>
      <p class="text-center">
        Already a member? <a routerLink="/auth/login">Login</a> here.
      </p>
    </form>
  </mat-card-content>
</mat-card>
